*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
:root {
  --clr-black-10: hsl(0, 0%, 0%);
  --clr-black-8: hsla(0, 0%, 0%, 0.8);
  --clr-black-5: hsla(0, 0%, 0%, 0.5);
  --clr-black-3: hsla(0, 0%, 0%, 0.3);
  --clr-black-1-5: hsla(0, 0%, 0%, 0.15);
  --clr-black-05: hsla(0, 0%, 0%, 0.05);

  --clr-white: hsl(0, 100%, 100%);

  --fs-display: 3rem;
  --fs-h1: 2.4rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.8rem;
  --fs-xl: 1.6rem;
  --fs-lg: 1.4rem;
  --fs-md: 1.2rem;
  --fs-sm: 1rem;
  --fs-xs: 0.6rem;

  --fw-xl: 800;
  --fw-lg: 700;
  --fw-md: 500;
  --fw-sm: 400;
  --fw-xs: 300;

  --ff-primary: ;
  --ff-secondary: ;

  --z-base: 0;
  --z-behind: -1;
  --z-top: 10;
  --z-modal: 100;

  --spacing-xl: 8rem;
  --spacing-lg: 4rem;
  --spacing-md: 2rem;
  --spacing-sm: 1rem;
  --spacing-xs: 0.5rem;
}

html {
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--clr-white) var(--clr-black-10);
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--clr-black-10);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--clr-white);
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  @media screen and (min-width: '840px') {
    text-align: start;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--clr-white);
  text-transform: capitalize;
  cursor: pointer;
}
img {
  max-width: 100%;
  filter: saturate(0);
}
h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-md);
  text-transform: capitalize;
}
h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-md);
  text-transform: uppercase;
}
button {
  appearance: none;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
}
p,
blockquote {
  font-size: var(--fs-sm);
  font-weight: var(--fw-sm);
}
.container {
  padding: var(--spacing-sm);
  margin: 0 auto;
}
.btn_purchase {
  background: var(--clr-black-10);
  color: var(--clr-white);
  font-size: var(--fs-md);
  padding: var(--spacing-sm) var(--spacing-md);
  text-transform: capitalize;
  font-weight: var(--fw-md);
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    filter: invert(100%);
    box-shadow: inset 0 0 0 2px currentColor;
  }
}

/*=============================================
=            index            =
=============================================*/
.menu-link {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    block-size: 1px;
    inline-size: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 200ms ease-in;
    background: var(--clr-white);
  }
  &:is(:hover, &:focus)::before {
    transform: scale(1);
  }
}
.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;

  @media screen and (min-width: '600px') {
    padding: var(--spacing-md);
    gap: var(--spacing-lg);
  }
  @media screen and (min-width: '1000px') {
    gap: var(--spacing-xl);
    padding: var(--spacing-lg);
  }
}
.header {
  background: var(--clr-black-10);

  @media screen and (min-width: '1000px') {
    background: transparent;
    padding: 0 var(--spacing-md);

    .container {
      border-radius: 0 0 3rem 3rem;
      background: var(--clr-black-10);
      padding: var(--spacing-md);
    }

    .header_nav {
      display: unset;
      padding-block-start: 0;

      &_menu {
        flex-direction: row;
        background: transparent;
        margin-block-end: auto;
      }
    }
    &_menu_btn {
      display: none;
    }
  }
  .container {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
  }
  &_logo {
    inline-size: 140px;
  }
  &_nav {
    display: none;
    background: var(--clr-black-10);

    padding-block-start: var(--spacing-md);

    &.show {
      @media screen and (min-width: '600px') {
        top: 80px;
      }
      display: unset;
      z-index: var(--z-modal);
      position: absolute;
      top: 60px;
      right: 0;
      left: 0;
      bottom: 0;
    }
    &_menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-md);
      font-size: var(--fs-md);

      .btn_purchase-header {
        background: var(--clr-white);
        color: var(--clr-black-10);
      }
    }
  }
  &_menu_btn {
    color: var(--clr-white);
    font-size: var(--fs-md);
    padding: 0.4rem;
    &:hover,
    &:focus {
      outline: 1px solid var(--clr-white);
      outline-offset: 3px;
    }
  }
}
.main {
  .container {
    @media screen and (min-width: '840px') {
      display: grid;
      grid-template: 1fr auto/repeat(2, 1fr);
      .main_text {
        grid-row: 1;
        grid-column: 1;
      }
      .main_image {
        grid-row: 1 / span 2;
        grid-column: 2;

        img {
          max-block-size: 100%;

          block-size: 100%;
          inline-size: auto;
        }
      }
      .btn_purchase-main {
        justify-self: start;
      }
    }
  }

  &_text {
    &_title {
      font-size: var(--fs-display);
      font-weight: var(--fw-lg);
      line-height: 0.8;
      margin-block-end: var(--spacing-md);
    }
    &_subtitle {
      font-size: calc(var(--fs-display) / 2);
      font-weight: var(--fw-md);
    }
  }

  &_image {
    img {
      object-fit: cover;
      block-size: 40vh;
    }
  }
}
.grid {
  @media screen and (min-width: '840px') {
    .grid_item {
      flex-direction: row;
      justify-content: center;
      & > * {
        flex: 1 0 0;
      }
      &:nth-child(2) {
        flex-direction: row-reverse;
      }
    }
  }
  @media screen and (min-width: '1000px') {
    .grid_item {
      gap: var(--spacing-xl);
      line-height: 1.6;
      &_image {
        inline-size: 100%;
      }
    }
  }
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);

    &_image {
      block-size: 250px;
      inline-size: 300px;
      img {
        display: block;
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
      }
    }
  }
}
.prices {
  &_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);
    text-align: center;
    .price_card {
      display: grid;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-sm);
      padding: var(--spacing-md) 0 0;
      box-shadow: 2px 4px 4px 0 var(--clr-black-05),
        0 0 4px 0 var(--clr-black-1-5);
      border-radius: 1rem;
      max-inline-size: 280px;
      overflow: hidden;
      &_icon {
        font-size: var(--fs-lg);
        &.last {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: var(--spacing-sm);
        }
        span {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          block-size: calc(2 * var(--fs-lg));
          inline-size: calc(2 * var(--fs-lg));
          background: var(--clr-black-1-5);
          box-shadow: inset 0 0 4px var(--clr-black-3);
          border-radius: 50%;
        }
      }
      &_description {
        padding: 0 var(--spacing-md);
      }

      &_cost {
        font-size: calc(2 * var(--fs-lg));
        font-weight: var(--fw-lg);
      }
      &_link {
        margin: var(--spacing-lg) 0 var(--spacing-sm);
        position: relative;
        a {
          width: 70%;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: calc(-1 * var(--spacing-sm));
          left: 0;
          right: 0;
          block-size: calc(100% + var(--spacing-md));
          background: var(--clr-black-05);
          z-index: var(--z-behind);
        }
      }
    }
  }
}
.testimonials {
  text-align: center;

  &_slider {
    align-self: stretch;
    position: relative;
    display: grid;
    place-items: center;
    grid-template-areas:
      'slide '
      'indicators';

    gap: var(--spacing-sm);

    .slider_controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      z-index: var(--z-top);
      .slider_control {
        font-size: var(--fs-sm);
        position: relative;
        display: inline-grid;
        place-items: center;
        grid-template-areas: 'btn';

        i {
          grid-area: btn;
          color: var(--clr-white);
        }
        &::before {
          content: '';
          position: relative;
          height: 32px;
          width: 32px;
          background: var(--clr-black-10);
          border-radius: 50%;
          grid-area: btn;
          z-index: var(--z-behind);
        }
      }
    }
    .slide {
      visibility: hidden;
      opacity: 0;
      transition: opacity 200ms ease-in;
      grid-area: slide;

      &.active {
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-sm);
        opacity: 1;
        @media screen and (min-width: '840px') {
          display: grid;
          grid-template: 1fr / repeat(2, 1fr);
          place-items: center;
          text-align: start;
          .left-side {
            flex-direction: column-reverse;
            align-items: flex-start;
          }
          .slide_text {
            max-width: 40ch;
          }
          .slide_slide_img {
            grid-row: 1;
            grid-column: 1;
          }
        }
      }
    }
    .left-side {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
    .slide_title {
      > * {
        display: block;
      }
    }
    .slide_img {
      block-size: 200px;
      inline-size: 200px;
      object-fit: cover;
      border-radius: 1rem;
    }
    .slide_text {
      font-size: var(--fs-sm);
      &_paragraph {
        margin-block-start: var(--spacing-xs);
      }
    }
    .slider_position {
      display: flex;
      align-items: center;
      gap: var(--spacing-sm);
      grid-area: indicators;

      > span {
        display: inline-block;
        block-size: 16px;
        inline-size: 16px;

        background: var(--clr-black-1-5);
        border-radius: 50%;
        &.active {
          background: var(--clr-black-10);
        }
      }
    }
  }
}
.about {
  .container {
    @media screen and (min-width: '840px') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }
    @media screen and (min-width: '1000px') {
      line-height: 1.6;
    }
  }

  &_text {
    &_title {
      margin-block-end: var(--spacing-md);
    }
  }
  &_image {
    overflow: hidden;
    block-size: 250px;
    inline-size: 250px;
    border-radius: 50%;
    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }
}
.footer {
  background: var(--clr-black-10);
  text-align: center;

  &_nav {
    &_menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-md);
    }
  }
  .btn_purchase-footer {
    color: var(--clr-black-10);
    background: var(--clr-white);
  }
  @media screen and (min-width: '1000px') {
    .container {
      flex-direction: row;
      justify-content: space-between;
      grid-template-columns: repeat(3, 1fr);
    }
    .footer_nav {
      &_menu {
        width: 100%;
        flex-direction: row;
      }
    }
    .btn_purchase-footer {
      color: var(--clr-black-10);
      padding: 1rem;
    }
  }
}

/*=============================================
=            free chapter            =
=============================================*/
.freechapter-main {
  .container {
    text-align: start;
  }
  &_image {
    @media screen and (min-width: '600px') {
      block-size: 300px;
    }
    @media screen and (min-width: '840px') {
      block-size: 400px;
    }
    @media screen and (min-width: '1000px') {
      block-size: 500px;
    }
    block-size: 200px;
    inline-size: 100%;
    object-fit: cover;
  }
  &_text {
    &_name {
      font-size: var(--fw-xs);
      color: var(--clr-black-8);
      text-transform: uppercase;
    }
    &_paragraph {
      margin-block-start: var(--spacing-md);
      @media screen and (min-width: '840px') {
        line-height: 1.6;
      }
    }
  }
}

/*=============================================
=            purchase            =
=============================================*/
.purchase-main {
  &_image {
    block-size: 50vh;

    img {
      object-fit: contain;
      inline-size: 100%;
      block-size: 100%;
    }
  }
  &_form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--spacing-sm);
    font-size: var(--fs-sm);

    .form_warning {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      margin-block-start: 0.2rem;
      color: var(--clr-black-5);
      font-size: calc(var(--fs-sm) - 0.1rem);
    }

    button {
      margin: var(--spacing-md) auto 0;
    }
    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      inline-size: 100%;
      @media screen and (min-width: '600px') {
        inline-size: unset;
      }
      gap: 0.2rem;
      text-transform: capitalize;

      &.row {
        flex-direction: row;
        align-items: center;
        font-size: calc(var(--fs-sm) * 0.8);
        gap: var(--spacing-xs);
      }
      input[id='credit-card-ccv'] {
        inline-size: 8ch;
      }
    }
    fieldset {
      inline-size: 100%;
      border: 0;
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-sm);
      &:last-of-type {
        margin-block-start: var(--spacing-md);
        flex-direction: column;
        width: 100%;
      }
    }

    .select-wrapper {
      min-inline-size: 212.5px;
      inline-size: 100%;
      block-size: 100%;
      position: relative;
      border-radius: 0.3rem;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.4rem;
        border-style: solid;
        border-width: 0.4rem;
        border-color: var(--clr-black-10) transparent transparent transparent;
        pointer-events: none;
      }

      select {
        appearance: none;
        border: 0;
        font-size: var(--fs-sm);
        padding: var(--spacing-xs);
        display: block;
        width: 100%;
        border-radius: 0.3rem;
        border: 1px solid var(--clr-black-3);
        position: relative;
        &::-ms-expand {
          display: none;
        }
        &:focus {
          border-color: var(--clr-black-10);
        }
      }
      option {
        background: var(--clr-black-10);
        color: var(--clr-white);
      }
    }
    .date-wrapper {
      min-inline-size: 212.5px;
      position: relative;
      inline-size: 100%;
      border-radius: 0.3rem;
      input[type='date'] {
        position: absolute;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;
        min-block-size: calc(var(--fs-sm) + var(--spacing-xs) * 2);
        appearance: none;
        position: relative;
        font-size: var(--fs-sm);
        font-family: inherit;
        padding-left: 2rem;
        &::-webkit-calendar-picker-indicator {
          inline-size: 100%;
          block-size: 100%;
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
        }
      }
      .fa-calendar {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
        z-index: var(--z-top);
      }
    }
    input {
      inline-size: 100%;
      appearance: none;
      border: 1px solid var(--clr-black-3);
      font-size: inherit;
      padding: var(--spacing-xs);
      border-radius: 0.3rem;
      &.invalid {
        border-color: var(--clr-black-1-5);
      }
      &:hover,
      &:focus {
        border-color: var(--clr-black-8);
      }

      &[type='number'] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
          margin: 0;
        }

        -moz-appearance: textfield;
      }

      &[type='checkbox'] {
        block-size: 1.2rem;
        inline-size: 1.2rem;
        border: 1px solid var(--clr-black-10);
        display: grid;
        place-content: center;
        grid-template-areas: 'check';
        grid-area: check;
        position: relative;
        cursor: pointer;
        &:hover,
        &:focus {
          &::after {
            content: '';
            grid-area: check;
            background: var(--clr-black-1-5);
            block-size: 100%;
            inline-size: 100%;
            transform: scale(2);
            border-radius: 50%;
            z-index: var(--z-behind);
          }
        }
        transition: all 200ms;
        &::before {
          content: '✔';
          grid-area: check;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          block-size: 1rem;
          inline-size: 1rem;
          color: var(--clr-white);
          transition: all 200ms;
          z-index: var(--z-top);
          opacity: 0;
          visibility: hidden;
        }
        &:checked {
          background: var(--clr-black-10);
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  @media screen and (min-width: '840px') {
    .container {
      flex-direction: row-reverse;

      gap: 1rem;
    }
    .purchase-main_form {
      flex: 2 0 0;
    }
    .purchase-main_image {
      inline-size: 100%;
      block-size: auto;
      flex: 1 0 0;
    }
    button {
      margin: unset;
    }
  }
}
