@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  -ms-touch-action: none;
      touch-action: none;
}

:root {
  --clr-black-10: hsl(0, 0%, 0%);
  --clr-black-8: hsla(0, 0%, 0%, 0.8);
  --clr-black-5: hsla(0, 0%, 0%, 0.5);
  --clr-black-3: hsla(0, 0%, 0%, 0.3);
  --clr-black-1-5: hsla(0, 0%, 0%, 0.15);
  --clr-black-05: hsla(0, 0%, 0%, 0.05);
  --clr-white: hsl(0, 100%, 100%);
  --fs-display: 3rem;
  --fs-h1: 2.4rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.8rem;
  --fs-xl: 1.6rem;
  --fs-lg: 1.4rem;
  --fs-md: 1.2rem;
  --fs-sm: 1rem;
  --fs-xs: 0.6rem;
  --fw-xl: 800;
  --fw-lg: 700;
  --fw-md: 500;
  --fw-sm: 400;
  --fw-xs: 300;
  --ff-primary: ;
  --ff-secondary: ;
  --z-base: 0;
  --z-behind: -1;
  --z-top: 10;
  --z-modal: 100;
  --spacing-xl: 8rem;
  --spacing-lg: 4rem;
  --spacing-md: 2rem;
  --spacing-sm: 1rem;
  --spacing-xs: 0.5rem;
}

html {
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--clr-white) var(--clr-black-10);
  overflow-x: hidden;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--clr-black-10);
}

html::-webkit-scrollbar-thumb {
  background: var(--clr-white);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

@media screen and (min-width: 840px) {
  body {
    text-align: start;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--clr-white);
  text-transform: capitalize;
  cursor: pointer;
}

img {
  max-width: 100%;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-md);
  text-transform: capitalize;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-md);
  text-transform: uppercase;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
}

p,
blockquote {
  font-size: var(--fs-sm);
  font-weight: var(--fw-sm);
}

.container {
  padding: var(--spacing-sm);
  margin: 0 auto;
}

.btn_purchase {
  background: var(--clr-black-10);
  color: var(--clr-white);
  font-size: var(--fs-md);
  padding: var(--spacing-sm) var(--spacing-md);
  text-transform: capitalize;
  font-weight: var(--fw-md);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn_purchase:hover, .btn_purchase:focus {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-box-shadow: inset 0 0 0 2px currentColor;
          box-shadow: inset 0 0 0 2px currentColor;
}

/*=============================================
=            index            =
=============================================*/
.menu-link {
  position: relative;
}

.menu-link::before {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  block-size: 1px;
  inline-size: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
  background: var(--clr-white);
}

.menu-link:is(:hover, .menu-link:focus)::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  .container {
    padding: var(--spacing-md);
    gap: var(--spacing-lg);
  }
}

@media screen and (min-width: 1000px) {
  .container {
    gap: var(--spacing-xl);
    padding: var(--spacing-lg);
  }
}

.header {
  background: var(--clr-black-10);
}

@media screen and (min-width: 1000px) {
  .header {
    background: transparent;
    padding: 0 var(--spacing-md);
  }
  .header .container {
    border-radius: 0 0 3rem 3rem;
    background: var(--clr-black-10);
    padding: var(--spacing-md);
  }
  .header .header_nav {
    display: unset;
    -webkit-padding-before: 0;
            padding-block-start: 0;
  }
  .header .header_nav_menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    -webkit-margin-after: auto;
            margin-block-end: auto;
  }
  .header_menu_btn {
    display: none;
  }
}

.header .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: unset;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  inline-size: 140px;
}

.header_nav {
  display: none;
  background: var(--clr-black-10);
  -webkit-padding-before: var(--spacing-md);
          padding-block-start: var(--spacing-md);
}

.header_nav.show {
  display: unset;
  z-index: var(--z-modal);
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .header_nav.show {
    top: 80px;
  }
}

.header_nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
  font-size: var(--fs-md);
}

.header_nav_menu .btn_purchase-header {
  background: var(--clr-white);
  color: var(--clr-black-10);
}

.header_menu_btn {
  color: var(--clr-white);
  font-size: var(--fs-md);
  padding: 0.4rem;
}

.header_menu_btn:hover, .header_menu_btn:focus {
  outline: 1px solid var(--clr-white);
  outline-offset: 3px;
}

@media screen and (min-width: 840px) {
  .main .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr auto/repeat(2, 1fr);
  }
  .main .container .main_text {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .main .container .main_image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .main .container .main_image img {
    max-block-size: 100%;
    block-size: 100%;
    inline-size: auto;
  }
  .main .container .btn_purchase-main {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.main_text_title {
  font-size: var(--fs-display);
  font-weight: var(--fw-lg);
  line-height: 0.8;
  -webkit-margin-after: var(--spacing-md);
          margin-block-end: var(--spacing-md);
}

.main_text_subtitle {
  font-size: calc(var(--fs-display) / 2);
  font-weight: var(--fw-md);
}

.main_image img {
  -o-object-fit: cover;
     object-fit: cover;
  block-size: 40vh;
}

@media screen and (min-width: 840px) {
  .grid .grid_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid .grid_item > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
  .grid .grid_item:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1000px) {
  .grid .grid_item {
    gap: var(--spacing-xl);
    line-height: 1.6;
  }
  .grid .grid_item_image {
    inline-size: 100%;
  }
}

.grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
}

.grid_item_image {
  block-size: 250px;
  inline-size: 300px;
}

.grid_item_image img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prices_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-lg);
  text-align: center;
}

.prices_cards .price_card {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md) 0 0;
  -webkit-box-shadow: 2px 4px 4px 0 var(--clr-black-05), 0 0 4px 0 var(--clr-black-1-5);
          box-shadow: 2px 4px 4px 0 var(--clr-black-05), 0 0 4px 0 var(--clr-black-1-5);
  border-radius: 1rem;
  max-inline-size: 280px;
  overflow: hidden;
}

.prices_cards .price_card_icon {
  font-size: var(--fs-lg);
}

.prices_cards .price_card_icon.last {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing-sm);
}

.prices_cards .price_card_icon span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  block-size: calc(2 * var(--fs-lg));
  inline-size: calc(2 * var(--fs-lg));
  background: var(--clr-black-1-5);
  -webkit-box-shadow: inset 0 0 4px var(--clr-black-3);
          box-shadow: inset 0 0 4px var(--clr-black-3);
  border-radius: 50%;
}

.prices_cards .price_card_description {
  padding: 0 var(--spacing-md);
}

.prices_cards .price_card_cost {
  font-size: calc(2 * var(--fs-lg));
  font-weight: var(--fw-lg);
}

.prices_cards .price_card_link {
  margin: var(--spacing-lg) 0 var(--spacing-sm);
  position: relative;
}

.prices_cards .price_card_link a {
  width: 70%;
}

.prices_cards .price_card_link::before {
  content: '';
  position: absolute;
  bottom: calc(-1 * var(--spacing-sm));
  left: 0;
  right: 0;
  block-size: calc(100% + var(--spacing-md));
  background: var(--clr-black-05);
  z-index: var(--z-behind);
}

.testimonials {
  text-align: center;
}

.testimonials_slider {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
      grid-template-areas: 'slide ' 'indicators';
  gap: var(--spacing-sm);
}

.testimonials_slider .slider_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: var(--z-top);
}

.testimonials_slider .slider_controls .slider_control {
  font-size: var(--fs-sm);
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
      grid-template-areas: 'btn';
}

.testimonials_slider .slider_controls .slider_control i {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: btn;
  color: var(--clr-white);
}

.testimonials_slider .slider_controls .slider_control::before {
  content: '';
  position: relative;
  height: 32px;
  width: 32px;
  background: var(--clr-black-10);
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: btn;
  z-index: var(--z-behind);
}

.testimonials_slider .slide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slide;
}

.testimonials_slider .slide.active {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-sm);
  opacity: 1;
}

@media screen and (min-width: 840px) {
  .testimonials_slider .slide.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr/repeat(2, 1fr);
    place-items: center;
    text-align: start;
  }
  .testimonials_slider .slide.active .left-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonials_slider .slide.active .slide_text {
    max-width: 40ch;
  }
  .testimonials_slider .slide.active .slide_slide_img {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.testimonials_slider .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-xs);
}

.testimonials_slider .slide_title > * {
  display: block;
}

.testimonials_slider .slide_img {
  block-size: 200px;
  inline-size: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.testimonials_slider .slide_text {
  font-size: var(--fs-sm);
}

.testimonials_slider .slide_text_paragraph {
  -webkit-margin-before: var(--spacing-xs);
          margin-block-start: var(--spacing-xs);
}

.testimonials_slider .slider_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-sm);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: indicators;
}

.testimonials_slider .slider_position > span {
  display: inline-block;
  block-size: 16px;
  inline-size: 16px;
  background: var(--clr-black-1-5);
  border-radius: 50%;
}

.testimonials_slider .slider_position > span.active {
  background: var(--clr-black-10);
}

@media screen and (min-width: 840px) {
  .about .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .about .container {
    line-height: 1.6;
  }
}

.about_text_title {
  -webkit-margin-after: var(--spacing-md);
          margin-block-end: var(--spacing-md);
}

.about_image {
  overflow: hidden;
  block-size: 250px;
  inline-size: 250px;
  border-radius: 50%;
}

.about_image img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: var(--clr-black-10);
  text-align: center;
}

.footer_nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
}

.footer .btn_purchase-footer {
  color: var(--clr-black-10);
  background: var(--clr-white);
}

@media screen and (min-width: 1000px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .footer .footer_nav_menu {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .btn_purchase-footer {
    color: var(--clr-black-10);
    padding: 1rem;
  }
}

/*=============================================
=            free chapter            =
=============================================*/
.freechapter-main .container {
  text-align: start;
}

.freechapter-main_image {
  block-size: 200px;
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 600px) {
  .freechapter-main_image {
    block-size: 300px;
  }
}

@media screen and (min-width: 840px) {
  .freechapter-main_image {
    block-size: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .freechapter-main_image {
    block-size: 500px;
  }
}

.freechapter-main_text_name {
  font-size: var(--fw-xs);
  color: var(--clr-black-8);
  text-transform: uppercase;
}

.freechapter-main_text_paragraph {
  -webkit-margin-before: var(--spacing-md);
          margin-block-start: var(--spacing-md);
}

@media screen and (min-width: 840px) {
  .freechapter-main_text_paragraph {
    line-height: 1.6;
  }
}

/*=============================================
=            purchase            =
=============================================*/
.purchase-main_image {
  block-size: 50vh;
}

.purchase-main_image img {
  -o-object-fit: contain;
     object-fit: contain;
  inline-size: 100%;
  block-size: 100%;
}

.purchase-main_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--spacing-sm);
  font-size: var(--fs-sm);
}

.purchase-main_form .form_warning {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-margin-before: 0.2rem;
          margin-block-start: 0.2rem;
  color: var(--clr-black-5);
  font-size: calc(var(--fs-sm) - 0.1rem);
}

.purchase-main_form button {
  margin: var(--spacing-md) auto 0;
}

.purchase-main_form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  inline-size: 100%;
  gap: 0.2rem;
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  .purchase-main_form label {
    inline-size: unset;
  }
}

.purchase-main_form label.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--fs-sm) * 0.8);
  gap: var(--spacing-xs);
}

.purchase-main_form label input[id='credit-card-ccv'] {
  inline-size: 8ch;
}

.purchase-main_form fieldset {
  inline-size: 100%;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.purchase-main_form fieldset:last-of-type {
  -webkit-margin-before: var(--spacing-md);
          margin-block-start: var(--spacing-md);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.purchase-main_form .select-wrapper {
  min-inline-size: 212.5px;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  border-radius: 0.3rem;
}

.purchase-main_form .select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.4rem;
  border-style: solid;
  border-width: 0.4rem;
  border-color: var(--clr-black-10) transparent transparent transparent;
  pointer-events: none;
}

.purchase-main_form .select-wrapper select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font-size: var(--fs-sm);
  padding: var(--spacing-xs);
  display: block;
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid var(--clr-black-3);
  position: relative;
}

.purchase-main_form .select-wrapper select::-ms-expand {
  display: none;
}

.purchase-main_form .select-wrapper select:focus {
  border-color: var(--clr-black-10);
}

.purchase-main_form .select-wrapper option {
  background: var(--clr-black-10);
  color: var(--clr-white);
}

.purchase-main_form .date-wrapper {
  min-inline-size: 212.5px;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 0.3rem;
}

.purchase-main_form .date-wrapper input[type='date'] {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding-left: 2rem;
}

.purchase-main_form .date-wrapper input[type='date']::-webkit-calendar-picker-indicator {
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.purchase-main_form .date-wrapper .fa-calendar {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: var(--z-top);
}

.purchase-main_form input {
  inline-size: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid var(--clr-black-3);
  font-size: inherit;
  padding: var(--spacing-xs);
  border-radius: 0.3rem;
}

.purchase-main_form input.invalid {
  border-color: var(--clr-black-1-5);
}

.purchase-main_form input:hover, .purchase-main_form input:focus {
  border-color: var(--clr-black-8);
}

.purchase-main_form input[type='number'] {
  -moz-appearance: textfield;
}

.purchase-main_form input[type='number']::-webkit-outer-spin-button, .purchase-main_form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.purchase-main_form input[type='checkbox'] {
  block-size: 1.2rem;
  inline-size: 1.2rem;
  border: 1px solid var(--clr-black-10);
  display: -ms-grid;
  display: grid;
  place-content: center;
      grid-template-areas: 'check';
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: check;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.purchase-main_form input[type='checkbox']:hover::after, .purchase-main_form input[type='checkbox']:focus::after {
  content: '';
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: check;
  background: var(--clr-black-1-5);
  block-size: 100%;
  inline-size: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  border-radius: 50%;
  z-index: var(--z-behind);
}

.purchase-main_form input[type='checkbox']::before {
  content: '✔';
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: check;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  block-size: 1rem;
  inline-size: 1rem;
  color: var(--clr-white);
  -webkit-transition: all 200ms;
  transition: all 200ms;
  z-index: var(--z-top);
  opacity: 0;
  visibility: hidden;
}

.purchase-main_form input[type='checkbox']:checked {
  background: var(--clr-black-10);
}

.purchase-main_form input[type='checkbox']:checked::before {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 840px) {
  .purchase-main .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1rem;
  }
  .purchase-main .purchase-main_form {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
  }
  .purchase-main .purchase-main_image {
    inline-size: 100%;
    block-size: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
  .purchase-main button {
    margin: unset;
  }
}
/*# sourceMappingURL=style.css.map */